{% load static %}
{% load crispy_forms_tags  %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>ورود به حساب کاربری - گت بلاگ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ورود به حساب کاربری گت بلاگ" />
    <!-- favicon -->
    <link href="{% static 'main/images/favicon.ico' %}" rel="shortcut icon">
    <!-- لینک فایل‌های CSS اصلی -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/style.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- لینک فایل CSS اختصاصی صفحات احراز هویت -->
    <link href="{% static 'accounts/css/auth-style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="bg-light">
    <!-- Navbar Start -->
    <header id="topnav" class="defaultscroll sticky bg-white">
        <div class="container">
            <a class="logo" href="index.html">
                <img src="{% static 'main/images/logo.png' %}" height="22" class="big-logo" alt="">
                <img src="{% static 'main/images/logo-icon.png' %}" height="28" class="small-logo" alt="">
            </a>

            <div class="menu-extras">
                <div class="menu-item">
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>

            <div id="navigation">
                <ul class="navigation-menu nav-left">
                    <li><a href="index.html" class="sub-menu-item">بازگشت به خانه</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- صفحه ورود -->
    <section class="bg-half-100 d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <div class="card auth-card shadow rounded border-0">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="title mb-4">ورود به حساب کاربری</h4>
                            </div>

                            <form method="post" class="login-form mt-4" >
                                {% csrf_token %}
                                <div class="row">
                                   {{ form|crispy }}
                                     {% comment %} <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>نام کاربری یا ایمیل <span class="text-danger">*</span></label>
                                            <i class="mdi mdi-account ml-3 icons"></i>
                                            <input name="email" id="email" type="text" class="form-control pl-5" placeholder="نام کاربری یا ایمیل">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>رمز عبور <span class="text-danger">*</span></label>
                                            <i class="mdi mdi-key ml-3 icons"></i>
                                            <input name="password" id="password" type="password" class="form-control pl-5" placeholder="رمز عبور">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">مرا به خاطر بسپار</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group">
                                                <a href="#" class="text-dark font-weight-bold">رمز عبور را فراموش کرده‌اید؟</a>
                                            </div>
                                        </div>
                                    </div> 
                                    {% endcomment %}

                                    <div class="col-md-12 my-3 ">
                                        <button class="btn btn-primary btn-block" type="submit">ورود</button>
                                    </div> 
                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3">حساب کاربری ندارید؟ <a href="#" class="text-dark font-weight-bold">ثبت‌نام کنید</a></p>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- پایان صفحه ورود -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-py-30 footer-border">
                        <div class="row align-items-center">
                            <div class="col-sm-7">
                                <div class="text-sm-start">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> گت بلاگ. طراحی شده با <i class="mdi mdi-heart text-danger"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill"><i class="mdi mdi-arrow-up"></i></a>
    
    <!-- javascript -->
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/js/app.js' %}"></script>
    <!-- اسکریپت اختصاصی احراز هویت -->
    <script src="{% static 'accounts/js/auth.js' %}"></script>
</body>
</html>