{% extends 'base.html' %}
{% block title %}صفحه اصلی{% endblock %}
{% load static %}


{% block content %}
    <!-- Start -->
    <section class="bg-half-100 d-table w-100">
        <div class="container">
            <div class="row mt-5 align-items-center">
                <div class="col-md-6">
                    <img src="{% static 'main/images/agency/1.jpg' %}" class="img-fluid rounded-md shadow" alt="">
                </div>
                <!--end col-->

                <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="blog blog-primary ms-lg-4">
                        <ul class="list-unstyled d-flex align-items-center justify-content-between">
                            <li>
                                <span class="badge bg-soft rounded-pill">آژانس</span>
                            </li>

                            <li>
                                <span class="text-muted">1401/05/06</span>
                            </li>
                        </ul>

                        <a href="agency-blog-detail.html" class="text-dark h3 title">بیایید همکاری کنیم: ما خدمات
                            مدیریتی ارائه می دهیم</a>

                        <p class="text-muted mt-3">برای مثال، زمانی که متن نهایی هنوز در دسترس نیست، این مورد ضروری است.
                            متن ساختگی به عنوان «متن پر کردن» نیز شناخته می‌شود.</p>

                        <a href="agency-blog-detail.html" class="read-more">بیشتر بخوانید <i
                                class="uil uil-arrow-left align-middle"></i></a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- End -->

    <!-- Start -->
    <section class="section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h4 class="title mb-0">ویژگی ها</h4>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="card features feature-primary align-items-center p-4 rounded shadow bg-white">
                        <div class="icon text-center h3 mb-0 rounded-circle">
                            <i class="ti ti-apps"></i>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="title mb-0 text-dark h6">پرطرفدار</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="card features feature-success align-items-center p-4 rounded shadow bg-white">
                        <div class="icon text-center h3 mb-0 rounded-circle">
                            <i class="ti ti-chart-line"></i>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="title mb-0 text-dark h6">کسب و کار</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="card features feature-warning align-items-center p-4 rounded shadow bg-white">
                        <div class="icon text-center h3 mb-0 rounded-circle">
                            <i class="ti ti-shopping-cart"></i>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="title mb-0 text-dark h6">فروشگاه آنلاین</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="card features feature-danger align-items-center p-4 rounded shadow bg-white">
                        <div class="icon text-center h3 mb-0 rounded-circle">
                            <i class="ti ti-3d-cube-sphere"></i>
                        </div>
                        <div class="mt-3">
                            <a href="#!" class="title mb-0 text-dark h6">تجارت</a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section-title">
                        <h4 class="title mb-0">پرطرفدار</h4>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 text-start d-none d-md-block">
                    <a href="#!" class="btn btn-sm btn-primary">نمایش بیشتر <i
                            class="uil uil-arrow-left align-middle"></i></a>
                </div>
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 mt-4 pt-2">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                <img src="{% static 'main/images/agency/2.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">پرطرفدار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/08/09</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">بازاریابی موبایلی،
                                        ترکیبات آن و پیش‌بینی پیشنهادات 2021</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3"> بیشتر بخوانید<i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-6 mt-4 pt-2">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                <img src="{% static 'main/images/agency/3.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">پرطرفدار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/06/07</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">دیگر نگران ضرب الاجل ها
                                        نباشید! ما شما را تحت پوشش قرار دادیم</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-6 mt-4 pt-2">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                <img src="{% static 'main/images/agency/4.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">پرطرفدار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/09/07</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">استراتژی خود را تغییر
                                        دهید: یک مشاور تجاری پیدا کنید</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-6 mt-4 pt-2">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                                <img src="{% static 'main/images/agency/5.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">پرطرفدار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/09/07</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">همه چیز درباره مدل سازی
                                        مالی، نکته ها و ترفند ها</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card bg-white p-4 rounded shadow sticky-bar">
                        <!-- SEARCH -->
                        <div class="widget">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">جستوجو</h6>
                            <div id="search2" class="widget-search mt-4 mb-0">
                                <form role="search" method="get" id="searchform2" class="searchform">
                                    <div>
                                        <input type="text" class="border rounded" name="s" id="s2"
                                               placeholder="جستوجو کلیدواژه">
                                        <input type="submit" id="searchsubmit2" value="Search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- SEARCH -->

                        <!-- RECENT POST -->
                        <div class="widget mt-4 pt-2">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">پست های
                                اخیر</h6>
                            <div class="mt-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'main/images/agency/1.jpg' %}" class="avatar avatar-small rounded"
                                         style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html"
                                           class="d-block widget-post-title text-dark">بازرگانی مشاور</a>
                                        <span class="text-muted">1401/09/05</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-3">
                                    <img src="{% static 'main/images/agency/2.jpg' %}" class="avatar avatar-small rounded"
                                         style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html"
                                           class="d-block widget-post-title text-dark">کسب و کار خود را گسترش دهید</a>
                                        <span class="text-muted">1401/09/05</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mt-3">
                                    <img src="{% static 'main/images/agency/3.jpg' %}" class="avatar avatar-small rounded"
                                         style="width: auto;" alt="">
                                    <div class="flex-1 me-3">
                                        <a href="agency-blog-detail.html" class="d-block widget-post-title text-dark">به
                                            تعادل با شکوه نگاه کنید</a>
                                        <span class="text-muted">1401/09/05</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- RECENT POST -->

                        <!-- TAG CLOUDS -->
                        <div class="widget mt-4 pt-2 text-center">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded">تگ ها</h6>
                            <div class="tagcloud mt-4">
                                <a href="javascript:void(0)" class="rounded text-dark">کسب و کار</a>
                                <a href="javascript:void(0)" class="rounded text-dark">دارایی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">مارکتینگ</a>
                                <a href="javascript:void(0)" class="rounded text-dark">فشن</a>
                                <a href="javascript:void(0)" class="rounded text-dark">عروس</a>
                                <a href="javascript:void(0)" class="rounded text-dark">لایف استایل</a>
                                <a href="javascript:void(0)" class="rounded text-dark">مسافرت</a>
                                <a href="javascript:void(0)" class="rounded text-dark">زیبایی</a>
                                <a href="javascript:void(0)" class="rounded text-dark">ویدیو</a>
                                <a href="javascript:void(0)" class="rounded text-dark">صدا</a>
                            </div>
                        </div>
                        <!-- TAG CLOUDS -->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 py-lg-5 rounded shadow bg position-relative overflow-hidden"
                         style="background: url({% static 'main/images/cta.jpg' %}) center;">
                        <div class="bg-overlay"></div>

                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="section-title ">
                                    <h4 class="text-white">صحبت کافی است، بیایید با هم چیزی بسازیم</h4>
                                    <p class="text-white-50 mb-0">همگام سازی طراحان، توسعه دهندگان، مدیران، پیمانکاران و
                                        سهامداران در یک ابزار مبتنی بر ابر.</p>
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
                                <a href="#!" class="btn btn-primary">شروع افزایش بازدید</a>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section-title">
                        <h4 class="title mb-0">کسب و کار</h4>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 text-start d-none d-md-block">
                    <a href="#!" class="btn btn-sm btn-primary">بیشتر ببینید <i
                            class="uil uil-arrow-left align-middle"></i></a>
                </div>
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-12 mt-4">
                    <div class="tiny-three-item">
                        <div class="tiny-slide">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden m-2">
                                <img src="{% static 'main/images/agency/6.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">کسب و کار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/09/07</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">ایلان ماسک می گوید
                                        سفارش های سایبرتراک 200000 است</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end slide-->

                        <div class="tiny-slide">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden m-2">
                                <img src="{% static 'main/images/agency/7.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">گسب و کار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/09/08</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">گام های ساده برای
                                        ارتقای استراتژی رسانه های اجتماعی</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end slide-->

                        <div class="tiny-slide">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden m-2">
                                <img src="{% static 'main/images/agency/8.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">کسب و کار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/08/09</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">خلیج تالیسکر در جزیره
                                        اسکای در اسکاتلند را کاوش کنید</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end slide-->

                        <div class="tiny-slide">
                            <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden m-2">
                                <img src="{% static 'main/images/agency/9.jpg' %}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li>
                                            <span class="badge bg-soft rounded-pill">کسب و کار</span>
                                        </li>

                                        <li>
                                            <span class="text-muted">1401/09/07</span>
                                        </li>
                                    </ul>

                                    <a href="agency-blog-detail.html" class="text-dark h5 title">پنج نکته ای که برای
                                        شروع روزتان باید بدانید</a>

                                    <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                            class="uil uil-arrow-left align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--end slide-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section-title">
                        <h4 class="title mb-0">فروشگاه آنلاین</h4>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 text-start d-none d-md-block">
                    <a href="#!" class="btn btn-sm btn-primary">بیشتر ببینید <i
                            class="uil uil-arrow-left align-middle"></i></a>
                </div>
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                        <img src="{% static 'main/images/agency/10.jpg' %}" class="img-fluid" alt="">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li>
                                    <span class="badge bg-soft rounded-pill">فروشگاه آنلاین</span>
                                </li>

                                <li>
                                    <span class="text-muted">1401/10/18</span>
                                </li>
                            </ul>

                            <a href="agency-blog-detail.html" class="text-dark h5 title">مشکل تایپ فیس در وب</a>

                            <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                    class="uil uil-arrow-left align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                        <img src="{% static 'main/images/agency/1.jpg' %}" class="img-fluid" alt="">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li>
                                    <span class="badge bg-soft rounded-pill">فروشگاه آنلاین</span>
                                </li>

                                <li>
                                    <span class="text-muted">1401/10/18</span>
                                </li>
                            </ul>

                            <a href="agency-blog-detail.html" class="text-dark h5 title">چای صبحانه انگلیسی با دسرهای
                                خوشمزه</a>

                            <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                    class="uil uil-arrow-left align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card border-0 bg-white shadow rounded blog blog-primary overflow-hidden">
                        <img src="{% static 'main/images/agency/2.jpg' %}" class="img-fluid" alt="">
                        <div class="card-body">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li>
                                    <span class="badge bg-soft rounded-pill">فروشگاه آنلاین</span>
                                </li>

                                <li>
                                    <span class="text-muted">1401/10/18</span>
                                </li>
                            </ul>

                            <a href="agency-blog-detail.html" class="text-dark h5 title">رمز و راز فروش آنلاین</a>

                            <a href="agency-blog-detail.html" class="read-more d-block mt-3">بیشتر بخوانید <i
                                    class="uil uil-arrow-left align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 py-lg-5 rounded-md shadow bg position-relative overflow-hidden"
                         style="background: url({% static 'main/images/cta.png' %});">
                        <div class="bg-overlay"></div>

                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="section-title text-center">
                                    <h3 class="text-white">عضویت در خبرنامه</h3>
                                    <p class="text-white-50 para-desc mx-auto mb-0">در خبرنامه ما عضو شوید تا از آخرین مقالات مطلع شوید</p>

                                    <div class="subcribe-form mt-5">
                                        <form class="m-0 mx-auto" style="max-width: 550px;" method="post" action="{% url 'core:newsletter' %}">
                                            {% csrf_token %}
                                            <input type="email" id="email" name="email"
                                                   class="rounded-lg bg-white opacity-4"
                                                   placeholder="آدرس ایمیل خود را وارد کنید">
                                            <button type="submit" class="btn btn-pills btn-primary">عضویت</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- End -->
{% endblock %}